.pp-title a, .pp-title a:visited{color:#ff0000;}
.pp-price, .pp-end-date{float:right;}
#bid{border:1px solid #ccc;margin: 1em 0; padding:1em; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}